/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
article {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid black;
}
.style-me1 {
  color: red;
}
#style-me2 {
  color: blue;
}
.style-me1,
#style-me2 {
  color: purple;
}

/* Put styles for questions 2.1 and 2.2 here */
.my-descendants-are-styles p {
  background-color: red;
}
.my-children-are-styled > p {
  background-color: lightgreen;
}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */

.box {
  background-color: blue;
  padding-top: 50px;
  padding-bottom: 10%;
  padding: 100px !important;
  width: 40%;
  height: 50px;
  height: 70% !important;
  border-color: green;
  border-style: dotted;
  border-width: 10px;
  border-style: solid;
  box-sizing: border-box;
  overflow: auto;
  outline: 10px;
  border-radius: 50%;
  background-image: url(Lab2\img1.png);
}
/* III. Positioning */
/* Put styles for questions 1-3 here */
.position-absolute {
  position: absolute;
  top: 0;
  background-color: red;
  right: 500px;
}
.position-relative {
  position: relative;
  background-color: blue;
}
.position-sticky {
  position: sticky;
  background-color: red;
  top: 0%;
}
/* IV. Styling text */
/* Put styles for questions 1-10 here */
.text-style {
  color: red;
  font-size: large;
  line-height: 60px;
  font-weight: 400;
  font-family: Matemasie;
  text-align: center;
  letter-spacing: 10px;
  word-spacing: 10%;
  text-transform: capitalize;
  text-decoration: dashed;
}

/* V. Styling links */
/* Put styles for questions 1-3 here */
a,
a:link {
  color: green;
  font-size: large;
  font-weight: 100;
  text-decoration: wavy;
}
a:hover,
a:active,
a:focus {
  color: rgb(26, 94, 26);
  text-decoration: line-through;
}

/* VI. calc() */
/* Put styles for questions 1-3 here */
